body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  font-family: system-ui;

  h1 {
    // color: red;
  }

  background-color: #E7F6FF;

  .wrapper {
    margin: 50px auto;
    background-color: #fff;
    max-width: 1080px;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.04);
  }

  h3, p {
    margin: 0;
    padding: 0;
  }

  header {

    h3 {
      text-transform: uppercase;
    }

    .column {
      p {
        color: #9D9D9D;
      }
    }

    .wrapper {
      // display: flex;
      // justify-content: space-between;
      padding: 43px 43px 44px 45px;

    }

    .left {
      display: flex;
      align-items: center;
      
    }

    .right {

      ul {
        display: flex;
        align-items: center;
        width: 196px;
        list-style: none;
        justify-content: space-between;
      }

      li {
        margin-right: 25px;
      }
    }

    
  }
}


