body {
  background-color: #E7F6FF;
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  // font-family: system-ui;
  font-family: 'Inter', sans-serif;

  * {
    font-family: 'Inter', sans-serif;
  }

  

  .wrapper {
    margin: 50px auto;
    background-color: #fff;
    max-width: 1080px;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.04);
  }

  h3, p {
    margin: 0;
    padding: 0;
  }

  header {

    border-bottom: 1px solid #EAEAEA;

    h3 {
      text-transform: uppercase;
    }

    .column {
      p {
        color: #9D9D9D;
      }
    }

    .right {

      ul {
        display: flex;
        align-items: center;
        width: 196px;
        list-style: none;
        justify-content: space-between;
      }

      li {
        margin-right: 25px;
      }
    }

    
  }

  .content {

    h1 {
      margin: 0;
    }

    .card {
      display: flex;
      flex-direction: column;
      
      padding: 10px;
      border: 1px solid #f3f3f3;
      width: 210px;
      height: 260px;
      margin-bottom: 20px;

      img {
        align-self: center;
      }
    }

    .price {
      font-weight: 900;
      
    }
  }
}

img {
  cursor: pointer;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}



.searchWrapper {

  .search {
    display: flex;
    align-items: center;

    img {
      opacity: .6;
    }
  }

  input {
    outline: none;
    border: 0;
    background-color: white;
    width: 200px;
  }
}
